<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dictionary</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<%- include searchfield.ejs %>
<%- include backToMain.ejs %>
<h1>You searched for: <%= searchedWord %></h1>

<% results.forEach(function(word){ %>
    <span class="result_label_main"> Translation: <%= word['translation'] %> </span><br>
    <span class="result_label"> Category: </span><%= word['category'] %> <br>
    <span class="result_label"> Parent: </span><%= word['parent'] %> (<i><%= word['parentLinkType'] %></i>) <br>
    <span class="result_label"> Root: </span><%= word['root'] %> <br>
    <%- include result_noun.ejs%>
    <%- include result_verb.ejs%>
<% }) %>




<% if (results == false) { %>
    <p>Sorry, nothing matched your search.</p>
<% } %>

<a href="">
</body>
</html>
